/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/02/2021, 11:49:12 AM
    Author     : sergi
*/


#textpag{
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.1;
    color: rgb(163 161 163);
    margin-bottom: 1%;

}
#imgpag{
    background: #ececec61;
    padding: inherit;
    margin-left: 4%;

}

#imgcard{
    width: 100%;
    margin-top: 13%;
}


#flexRadioDefault1{
    padding: 22px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
#flexRadioDefault2{
    padding: 22px;
    border-radius: 51%;
    width: 22px;
    height: 22px;
}
input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: 2px;
    left: 2px;
    position: relative;
    background-color: #e44232;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #ffffff;
    border-color: #ffffff;
}

#checkPSE{
    margin-top: 0px;
}

#TPSE{
    margin-left: 4%;
    margin-top: 3%;
}

#TCARD{
    margin-left: 4%;
    margin-top: -2%;

}

#container-tarjeta{
    clear: both;
    border: 0.5px solid #cacaca;
    margin-top: 3px;
    padding: 15px;
    width: 100%;
    overflow: auto;
    font-family: helvetica;
    font-size: 14px;
    color: #757575;
    background: #ffffff;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-end-end-radius: 0.6rem;
    border-end-start-radius: 0.6rem;
}


#letrap{
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.1;
    color: rgb(163 161 163);
    margin-top: -20px;
    text-align: center;
}

#letrap2{
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.1;
    color: rgb(163 161 163);
    margin-top: -10px;
    text-align: center;
}

#letrap3{
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.1;
    color: rgb(163 161 163);
    margin-top: -0px;
    text-align: center;
}

#imgtarjeta{
    max-width: 59%;
    display: block;
    margin: auto;
    padding: 9px;
}
#imgtarjeta2{
    max-height: 100%;
    display: block;
    margin: auto;
}

#tiketdepago{
    padding: 2%;
    box-shadow: 1px 1px 5px #999;
}

#titlepagoa{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

#datospago{
    text-align: right;
    margin-top: -7%;
}

#textpagt{
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.1;
    color: rgb(163 161 163);
    margin-bottom: 5%;
}