/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2020, 03:36:24 PM
    Author     : serfin
*/

.titulo_boton {
   
  padding:5px;  
  background-color:#e6e6e6;
  width:100%;
  font-family:helvetica;
  font-size:16px;
  font-weight:bold;
}
.boton_mostrar {
  float:right;
  font-size:12px;
  line-height:20px;
  color:#DE7217 !important;
}
#contenido{
  
  clear:both;
  border:1px solid #fc731e;
  margin-top:2px;
  padding:15px;
  width:100%;
  overflow:auto;
  font-family:helvetica;
  font-size:14px;
  text-align: justify;
}